@use '/src/style/base/variables' as v;

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2.5rem;
    background-color: v.$primario;

    &_img {
        width: clamp(70px, 10vw, 120px);
        border-radius: 50%;
        object-fit: cover;
        align-self: flex-start;
        position: absolute;
        left: 5rem;
        top: 1rem;
    }

    &_boddy {
        text-align: center;
        flex: 1;

        .secondTittle {
            font-size: clamp(3rem, 4vw, 3.5rem);
            margin: 0;
            color: v.$blanco;
        }

        .principalTittle {
            font-size: clamp(2.8rem, 5vw, 4rem);
            margin: 0.25rem 0 0;
            color: v.$secundario;
        }
    }
}