@use '/src/style/base/variables' as v;


.homeSelection {
	min-height: calc(100vh - 5.3rem);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	text-align: center;
	padding: 2rem;

	&_tittle{
		font-size: 4rem;
		margin-bottom: 0rem;
	}

	&_text{
		font-size: 2.5rem;
		margin-top: 0rem;
	}

	&_actions {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		justify-content: center;
        flex-direction: column;
	}

	&_btn {
		padding: 0.85rem 1.5rem;
		border-radius: 50px;
		border: none;
		background: v.$primario;
		color: v.$blanco;
		text-decoration: none;
		font-weight: 600;
		transition: background 0.2s ease;

		&:hover {
			background: darken(v.$primario, 6%);
		}
	}
}
